
<%- include('../layouts/header',  {cssHref : ''}) %>
<%- include('../components/navbar') %> 
    <h1><%= topic %> </h1>
    <div class="container-fluid bg-success gap-3">
      <% for( let i = 0; i < allBlogs.length; i++ ) { %>
        <div class="container bg-warning"><%= allBlogs[i] %> </div>
      <% } %>
    </div>

      <script src="script.js"></script>

    <%- include('../layouts/footer') %>