
<%- include('../layouts/header') %>
<%- include('../components/navbar') %> 

  <%- include('../components/carousel', {imageUrl : [{url : 'images/1.jpg' ,altText : '1 image' }]})%>

    <h1><%= topic %> </h1>

      <script src="script.js"></script>

    <%- include('../layouts/footer') %>